html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
   
}


.container h1 {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 46px;
    line-height: 62px;
    color: #000000;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 30px;
}

p{
    font-size: 20px;
}